<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audit Items Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        th, td {
            padding: 15px;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid purple;
        }

        th {
            background-color: plum;
        }

        tr:nth-child(even) {background-color: lavender}

    </style>
</head>
<body>
    <div th:if="${not #lists.isEmpty(items)}" class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>TIMESTAMP</th>
                    <th>TYPE</th>
                    <th>URL</th>
                    <th>MODULE</th>
                    <th>LABEL</th>
                    <th>HOST</th>
                    <th>LEVEL</th>
                    <th>MILLIS</th>
                    <th>DETAILS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                        <td th:text="${item.timestampAsString()}"></td>
                        <td th:text="${item.type}"></td>
                        <td th:text="${item.url}"></td>
                        <td th:text="${item.module}"></td>
                        <td th:text="${item.label}"></td>
                        <td th:text="${item.hostname}"></td>
                        <td th:text="${item.level}"></td>
                        <td th:text="${item.millisTaken}"></td>
                        <td><a target="_blank" th:href="@{/v1/audit/items/details.html(seriesGuid=${item.seriesGuid})}">DETAILS</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>