<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audit Items Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="vkbeautify.js"></script>
    <script src="pretty-elements.js"></script>
    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid purple;
        }

        th {
            background-color: plum;
        }

        tr:nth-child(even) {background-color: lavender}

    </style>
</head>
<body >
<div th:if="${not #lists.isEmpty(items)}">

    <div th:each="item : ${items}">
    <table>
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>MS</th>
            <th>URL</th>
            <th>Label</th>
            <th>Host</th>
            <th>Request ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${item.timestampAsString()}"></td>
            <td th:text="${item.type}"></td>
            <td th:text="${item.millisTaken}"></td>
            <td th:text="${item.url}"></td>
            <td th:text="${item.label}"></td>
            <td th:text="${item.hostname}"></td>
            <td>
                <a target="_blank"
                   th:text="${item.tracking['request_id']}"
                   th:href="@{/v1/audit/items/overview.html(request_id=${item.tracking['request_id']})}">
                </a>
            </td>
        </tr>
        <tr th:if="${item.headers}">
            <td colspan="1">Headers:</td>
            <td colspan="8" th:text="${item.headers}"></td>
        </tr>
        <tr th:if="${item.body}">
            <td colspan="9">
                <pre th:text="${item.body}" class="pretty"></pre>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

</body>
</html>