<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Audit Items Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid purple;
        }

        th {
            background-color: plum;
        }

        tr:nth-child(even) {background-color: lavender}

    </style>
</head>
<body>
    <div th:if="${#lists.isEmpty(items)}">
        <p>No Audit Items found :-(</p>
    </div>
    <div th:if="${not #lists.isEmpty(items)}">
        <table>
            <thead>
                <tr>
                    <th>TIMESTAMP</th>
                    <th>TYPE</th>
                    <th>MS</th>
                    <th>URL</th>
                    <th>LABEL</th>
                    <th>HOST</th>
                    <th>MODULE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                        <td th:text="${item.timestampAsString()}"></td>
                        <td>
                            <a target="_blank"
                               th:text="${item.type}"
                               th:href="@{/v1/audit/items/details.html(seriesGuid=${item.seriesGuid})}">
                            </a>
                        </td>
                        <td th:text="${item.millisTaken}"></td>
                        <td th:text="${item.url}"></td>
                        <td th:text="${item.label}"></td>
                        <td th:text="${item.hostname}"></td>
                        <td th:text="${item.module}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>